Temp
Library
obj
Logs
Packages
Incomplete
.DS_Store
.vs
.idea
/BuildReports
*.userprefs
*.pidb
*.pidb.meta
*.pdb.meta
*.mdb
*.mdb.meta
*.user
*.suo
*.sln
*.ldb
*.DotSettings.user
*.unityproj
*.unity-csharp
*.TokenResponse-user
/*.DS_Store
*.swp
*.Trashes
*-CSharp*-vs.csproj
*-CSharp*.csproj
*.unitypackage
/*.csproj
key.json